/*************************************************
    GENERAL STYLES
 *************************************************/
/*************************************************
    background-color:
                    : #fdc15f; arancione;
                    : #333333; nero footer
 *************************************************/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans" ;
}

.container {
    width: 90%;
    margin: auto;
}

/*HEADER STYLES*/

header {
    background-color: #0084fd;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

/*DEBUG*/
.menu {
    width: 80px;
    height: 40px;
    background-color: rgb(228, 169, 92);
}

/*MAIN STYLES*/
/*DEBUG*/
main .container {
    min-height: 500px;

}

.container.alt {
    background-color: #9792e4;
}

.card {
    width: 100%;
    background-color: #b5ddff;
    border-radius: 10px;
    margin: 1.5rem 0;
    /*DEBUG*/
    min-height: 500px;
}

