/*************************************************
    GENERAL STYLES
 *************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans" ;
}

.container {
    width: 80%;
    margin: auto;
    line-height: 1.7rem;
}

main .container{
    padding: 2rem 0 3rem;
}

.full {
    width: 100%;
    background-color: #9792e4;
}

.card {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.title-big {
    font-size: 1.6rem ;
    margin: 1.5rem 0;
}

.title-sec {
    font-size: 1.3rem;
    color:black;
    text-align: center;
    margin: 1.3rem 0;
}

p {
    font-size: 0.9rem;
}

img {
    width: 100%;
    height: auto;
}

.button {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    border-style: none;
}

.start {
    text-align: start;
}

.col-blu {
    color: #0084fd;
}

.col-whi {
    color: white;
}

.col-pur {
    color: #9792e4;
}

.col-bk {
    color: #333333;
    font-weight: lighter;
}
/*HEADER STYLES*/

header {
    background-color: #0084fd;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    position: fixed;
    z-index: 1000;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}

/*MAIN STYLES*/
/*section functionality*/

#function{
    padding: 7rem 0 2rem;
}

#function .card {
    background-color: #b5ddff;
}

.cont-card {
    margin: auto;
    padding: 1.5rem;
    text-align: center;
    color: gray;
    font-weight: bold;
    position: relative;
}

.store {
    padding: 0.7rem 3.2rem;
    background-color: #0084fd;
}

#function img {
    margin-bottom: -2rem;
}

.fa-solid.col-blu {
    font-size: 4rem;
}
/*section development*/
#develop {
padding-top: 3rem;
}

.white {
    background-color: whitesmoke;
    margin: auto;
    border-radius: 30px;
}

#develop button {
    margin: 2rem auto 1rem;
    justify-content: center;
    background-color: #9792e4;
    color: #333333;
    border-radius: 100%;
}

#develop .title-big {
    margin: 4rem 0 2.5rem;
}

/*section partners*/
.lil {
    background-color: #9792e4;
}

.testimonial {
    margin: 1rem 0;
    width: 100%;
    clip-path: circle(39%);
}

.feedback p{
    font-weight: lighter;
    font-size: 1.1rem;
    display: inline;
}

/*Section Benefits*/

#benefits .title-big.col-whi {
   font-size: 2rem;
   text-align: center;
   line-height: 2.5rem;
   margin-bottom: 3rem;
}

#benefits h2.col-pur {
    font-size: 3rem;
 }

#benefits .button {
    background-color: #9792e4;
    padding: 0.5rem 3rem;
    margin: 1.5rem 0 0.5rem;
}
#benefits p {
    font-weight: lighter;
}

/*About Us*/

#about-us .title-big {
    font-size: 3rem;
    margin-bottom: 3rem;
}

#img-us {
    width: 12rem;
    margin-top: 3rem;
    position: relative;
}

#img-us img {
    clip-path: circle(50%);
}

#img-us .fa-quote-left {
    font-size: 4rem;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

#about-us h3 {
    font-size: 1.9rem;
    line-height: 2.7rem;
}

#about-us button {
    background-color: #9792e4;
    display: flex;
    align-items: center;
    gap: 1rem;

}


/*Get Started section*/
 .orange {
    color: #fdc15f;
 }

/*FOOTER STYLE*/

footer {
    background-color: #333333;
    width: 100%;

    /*DEBUG*/
    min-height: 250px;

}