/*************************************************
    GENERAL STYLES
 *************************************************/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans" ;
}

.container {
    width: 90%;
    margin: auto;
}

/*HEADER STYLES*/

header {
    background-color: #0084fd;
    height: 70px;
    display: flex;
    align-items: center;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

/*DEBUG*/
.menu {
    width: 80px;
    height: 40px;
    background-color: rgb(228, 169, 92);
}

/*MAIN STYLES*/

main .container {
    width: 100%;
    /*DEBUG*/
    min-height: 500px;
    border: solid black;
}

.container.alt {
    background-color: #9792e4;
}


